{{#each posts as |post|}}
<div class="border margin-bottom">
    <div class="hero">
        <div id="post-title" class="flex-row justify-space-between">
            <h2 class="light-font">{{post.title}}</h2>
            <span>{{post.user.username}}</span> 
        </div>
    </div>
    <div>
      {{post.content}} 
    </div>
</div>
{{/each}}

<script src="/javascript/comment.js"></script>