<div class="">
    <div class="border w-75 inner">
        <h3 class="hero">Signup</h3>
        <div>
            <form class="flex-column justify-space-between" id="loginForm">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" />
                <label for="password">Password</label>
                <input type="text" id="password" name="password" />
                <button class="btn" type="submit">Signup</button>
            </form>
        </div>
    </div>
</div>

{{!-- <script src="/javascript/signup.js"></script> --}}